@{
    Layout = "HomePage_Layout";
    ViewData["Title"] = "Company";
}

    <div class="container">

        <img src="~/images/CompanyImg.jpg" class="d-block w-100" alt="..." style="width:200px" />
        <div style="height: 40px">&nbsp;</div>
        <h1 style="color:saddlebrown">Shipley Donuts</h1>
        <div style="height: 40px">&nbsp;</div>
        <div class="marketing">

            <div class="row">

                <div class="col-sm-8">

                    <div style="height: 40px">&nbsp;</div>
                    <div style="margin-left: 100px">

                        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">
                            It was 1936, the end of the Great Depression, when Lawrence Shipley, Sr. created a gourmet recipe for Do-Nuts. So delicious were the Do-Nuts that they have withstood the test of time. Cut by hand and served hot throughout the day, the Do-Nuts were 5 cents a dozen and were only sold wholesale. The product was so successful that it started to sell on the retail market in the mid 1940s. With Lawrence Sr. away on do-nut routes, his wife Lillie would stay behind and make the culinary delights with Lawrence Jr. at her knee.

                        </p>

                    </div>
                </div>
                <div class="col-sm-4">
                    <img class="d-block w-100" src="~/images/Donuts.jpg" height="300" width="300" />

                </div>
            </div>
        </div>
    </div>
