@{
    Layout = "HomePage_Layout";
}
<div>
    <div style="height: 40px">&nbsp;</div>
    <p style="color:red;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;font-size:24px"> 2077 NorthMain Houston, TX77058 </p>
    <p style="color:saddlebrown;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align:center;font-size:26px;font-weight:bold;"> HOTLINE</p>
    <p style="color:red;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;font-size:26px;font-weight:bold;"> (713)870-4433</p>
    <p style="color:red;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;font-size:24px;font-style:italic;">Contact Form ></p>
</div>
