@{
    Layout = "HomePage_Layout";
}
<div class="container">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img src="~/images/Franchise.jpg" class="d-block w-100" alt="..." style="width:300px" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="marketing">

    <div class="row">

        <div class="col">

            <div style="height: 40px">&nbsp;</div>

            <div style="margin-left: 100px">

                <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">
                    Shipley Do-Nuts is an American doughnut chain with more than 300 franchised stores in the Southern United States, including Texas, Louisiana, Arkansas, Tennessee, Mississippi, Colorado, Florida and Alabama.
                    Its headquarters are located in Northside, Houston, Texas. ... Back then, his doughnuts were sold for $.05 per dozen
                </p>
                <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">
                    The Do-Nuts continue to delight customers of all ages. The over 60 varieties remain as consistent as the freshness of the products, and although the plain glazed is by far the best seller, everyone seems to have their favorites.
                </p>
                <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">
                    Shipley Do-Nuts continues the pride and tradition on delivering the finest Do-Nuts and kolaches in the business. Shipley Do-Nuts is a gourmet product made fresh daily. The company offers excellent customer service, clean stores and friendly employees who love our Do-Nuts as much as our customers do.
                </p>

                <div style="height: 40px">&nbsp;</div>

            </div>
        </div>

    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-4">
            <img class="img-3-by" src="~/images/ChocolateIcedDonuts.jpg" />
        </div>
        <div class="col-lg-4">

            <img class="img-3-by" src="~/images/CreamDonuts.jpg" />
        </div>
        <div class="col-lg-4">
            <img class="img-3-by" src="~/images/WhiteIced.jpg" />
        </div>
    </div>
</div>
<hr width="1000" style="background-color:saddlebrown">

<div class="container">
    <div class="row">
        <div class="col">
            <img src="~/images/shipley-donut-map.jpg" class="d-block w-100" alt="..." style="width:300px" />
        </div>
    </div>
</div>