@{
    ViewData["Title"] = "Home";
    Layout = "HomePage_Layout";
}
<div class="container">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img src="~/images/ShipleyStore.jpg" class="d-block w-100" alt="..." style="width:300px">
                    <p><h2 style="position:absolute;top:10%;left:10%;color:white;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">NEW TERRITORIES NOW OPEN FOR FRANCHISE...!!!</h2></p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="marketing">

    <div class="row">

        <div class="col">

            <div style="height: 40px">&nbsp;</div>

            <div style="margin-left: 100px">

                <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">
                    Shipley Do-Nuts is an American doughnut chain with more than 300 franchised stores in the Southern United States, including Texas, Louisiana, Arkansas, Tennessee, Mississippi, Colorado, Florida and Alabama.
                    Its headquarters are located in Northside, Houston, Texas. ... Back then, his doughnuts were sold for $.05 per dozen
                </p>
                <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">
                    The Do-Nuts continue to delight customers of all ages. The over 60 varieties remain as consistent as the freshness of the products, and although the plain glazed is by far the best seller, everyone seems to have their favorites.
                </p>
                <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">
                    Shipley Do-Nuts continues the pride and tradition on delivering the finest Do-Nuts and kolaches in the business. Shipley Do-Nuts is a gourmet product made fresh daily. The company offers excellent customer service, clean stores and friendly employees who love our Do-Nuts as much as our customers do.
                </p>
                <div style="height: 40px">&nbsp;</div>
                <blockquote class="blockquote text-center">
                    <p class="mb-0" style="color:saddlebrown">“Literally the best donuts in town! Always fresh and a great selection. Family owned and wonderful customer service”</p>
                    <footer class="blockquote-footer" style="color:burlywood"><cite title="Source Title">– Lee Peterson Hendersonville, TN</cite></footer>
                </blockquote>
                <div style="height: 40px">&nbsp;</div>

            </div>
        </div>

    </div>
</div>
<div>
    <p style="background-color:burlywood;"><a href="#"><img src="~/images/ShipleyIcon.jpg" align="middle" style="display:block;margin-left:auto;margin-right:auto" /></a></p>
    <div style="height: 40px">&nbsp;</div>
    <p style="color:red;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;font-size:24px"> 2077 NorthMain Houston, TX77058 </p>
    <p style="color:saddlebrown;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align:center;font-size:26px;font-weight:bold;"> HOTLINE</p>
    <p style="color:red;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;font-size:26px;font-weight:bold;"> (713)870-4433</p>
    <p style="color:red;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;font-size:24px;font-style:italic;">Contact Form ></p>
</div>
<nav class="navbar navbar-expand-lg" id="footerNav1">
    <div class="col-sm-2">
        <p style="font-size:30px;font-weight:bold;color:white;font-family:'Times New Roman', Times, serif">NewsLetter</p>
    </div>
    <div class="col-sm-6">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <p style="color:burlywood;">Sign up for the Sara's Donuts e-newsletter and receive delicious deals and sweet insider info!</p>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <form class="form-inline my-2 my-lg-4">
            <input class="form-control mr-sm-2" type="search" placeholder="Email Address">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Submit</button>
        </form>
    </div>
</nav>
