
@{
    Layout = "HomePage_Layout";
}
<div class="container">

    <div class="row">
        <div class="col-lg-4">

            <img class="img-3-by" src="~/images/ChocolateIcedDonuts.jpg" />
            <div style="height: 40px">&nbsp;</div>
            <p><a href="#" style="text-decoration:none;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:24px;color:saddlebrown;font-weight:bold;">Chocolate Iced Donuts</a></p>
            <div style="height: 40px">&nbsp;</div>

        </div>
        <div class="col-lg-4">

            <img class="img-3-by" src="~/images/CreamDonuts.jpg" />
            <div style="height: 40px">&nbsp;</div>
            <p><a href="#" style="text-decoration:none;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:24px;color:saddlebrown;font-weight:bold;">Cream Donuts</a></p>
            <div style="height: 40px">&nbsp;</div>

        </div>
        <div class="col-lg-4">

            <img class="img-3-by" src="~/images/WhiteIced.jpg" />
            <div style="height: 40px">&nbsp;</div>
            <p><a href="#" style="text-decoration:none;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:24px;color:saddlebrown;font-weight:bold;">White Iced Donuts</a></p>
            <div style="height: 40px">&nbsp;</div>

        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-lg-4">

            <img class="img-3-by" src="~/images/ChocolateFilled.jpg" />
            <div style="height: 40px">&nbsp;</div>
            <p><a href="#" style="text-decoration:none;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:24px;color:saddlebrown;font-weight:bold;">Chocolate Filled Donuts</a></p>
            <div style="height: 40px">&nbsp;</div>

        </div>
        <div class="col-lg-4">

            <img class="img-3-by" src="~/images/IcedDonuts.jpg" />
            <div style="height: 40px">&nbsp;</div>
            <p><a href="#" style="text-decoration:none;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:24px;color:saddlebrown;font-weight:bold;">Iced Donuts</a></p>
            <div style="height: 40px">&nbsp;</div>

        </div>
        <div class="col-lg-4">

            <img class="img-3-by" src="~/images/StrawberryFilled.jpg" />
            <div style="height: 40px">&nbsp;</div>
            <p><a href="#" style="text-decoration:none;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:24px;color:saddlebrown;font-weight:bold;">StrawBerry Filled Donuts</a></p>
            <div style="height: 40px">&nbsp;</div>

        </div>
    </div>
</div>