@{
    Layout = "HomePage_Layout";
}
<div class="container-fluid">
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active">

                    <img src="~/images/CommunityImg.jpg" class="d-block w-100" alt="..." style="width:1000px">
                    <div style="height: 40px">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col">
    <form class="form-inline my-2 my-lg-4" >
       <label for="Your Location" class="col-sm-3 Scol-form-label" style="font-weight:bold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">Your Location</label>
       <div class="col-sm-8">
           <input type="text" class="form-control" id="Location" placeholder="Search">
           <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
       </div>
      </form>  
           
</div>
<div class="container">
   

            <div class="row">
                <div class="col">

                    <img src="~/images/Map.jpg" class="d-block w-100" alt="..." style="width:300px">
                    <div style="height: 40px">&nbsp;</div>
                    <h3 style="font-weight:bold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">Shipley Donuts</h3>
                    <div style="height: 20px">&nbsp;</div>
                    <p style=" line-height:3px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">1001 McKinney #B2</p>
                    <p style="line-height:3px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">Houston TX 77002</p>
                    <p style="line-height:3px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown">United States</p>
                    <p style="line-height:3px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:18px;color:saddlebrown;font-weight:bold;">713-870-4433 </p>
                </div>
            </div>
        </div>
 